@font-face {
  font-family: "JetBrainsMono";
  src: url(JetBrainsMono-VariableFont_wght.ttf);
}

* {
  font-family: "JetBrainsMono";
  box-sizing: border-box;
  color: white;
}

#main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url(background3.avif);
  background-position: center;
  background-repeat: repeat;
}

div#page {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

div#sideNav {
  display: grid;
  width: 220px;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  padding: 5px;
  float: left;
  margin: 10px 0px 20px;
  text-align: left;
  background-color: rgb(31, 30, 30);
  border-right: 1px solid gray;
}

div#content {
  width: 90%;
  max-width: 920px;
  margin: auto;
  min-height: 500px;
  height: 500px;
  text-align: left;
  height: 100vh;
  overflow-y: auto;
  min-width: 0;
  align-self: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: monospace;
  text-align: left;
}

button:hover {
  color: darkgrey;
  opacity: 0.7;
}

#nameBtn {
  text-align: left;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
}

div#divider {
  border-bottom: 1px solid gray;
  width: 100%;
  grid-column: span 2;
  padding-bottom: 5px;
  opacity: 80%;
  padding-top: 0;
  margin-top: 0;
}

div#divider2 {
  border-bottom: 1px solid gray;
  width: 80%;
  padding-bottom: 5px;
  padding-top: 80px;
  margin: 0 auto;
  opacity: 80%;
}

#picture {
  display: block;
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 20px;
  height: 150px;
  float: left;
}

p {
  font-size: 12px;
  margin-left: auto;
}

h2 {
  text-align: left;
}

div#quiz {
  margin-left: 50px;
}

#quiz1 {
  height: 300px;
  width: 250px;
}
